USE [master]
GO
/****** Object:  Database [ROK - Februar 2023]    Script Date: 07.02.2024. 15:07:23 ******/
CREATE DATABASE [ROK - Februar 2023]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ROK - Februar 2023', FILENAME = N'C:\Users\Marko\ROK - Februar 2023.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ROK - Februar 2023_log', FILENAME = N'C:\Users\Marko\ROK - Februar 2023_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ROK - Februar 2023].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ROK - Februar 2023]
GO
USE [ROK - Februar 2023]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 07.02.2024. 15:07:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[Id] [int] NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Ime] [varchar](50) NOT NULL,
	[Prezime] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 07.02.2024. 15:07:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Admin] ([Id], [Email], [Password], [Ime], [Prezime]) VALUES (1, N'mare', N'mare', N'Marko', N'Petrovic')
INSERT [dbo].[Admin] ([Id], [Email], [Password], [Ime], [Prezime]) VALUES (2, N'andjela', N'andjela', N'Andjela', N'Cosic')
GO
INSERT [dbo].[Users] ([Id], [Username], [Password]) VALUES (1, N'pera', N'pera1')
INSERT [dbo].[Users] ([Id], [Username], [Password]) VALUES (2, N'mika', N'mika1')
INSERT [dbo].[Users] ([Id], [Username], [Password]) VALUES (3, N'zika', N'zika1')
GO
USE [master]
GO
